# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\USER\Documents\CURSOS_DE_UDEMY\CURSOS_SUBIDOS_GITHUB\MASTER-EN-PYTHON\las-basesde-python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
